body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/117/396/original/amy-shamblen-z5HFdgL4Np8-unsplash.jpg?1709471145);
  background-size: cover;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

select {
  font-size: 18px;
  color: rgb(183, 142, 210);
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: block;
  border-radius: 4px;
  padding: 10px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  padding: 30px;
}
a {
  color: rgb(209, 55, 45);
}
.container {
  background: rgba(183, 142, 210, 0.7);
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

.date {
  opacity: 0.7;
}
